a(href="http://twitter.com")
    span(class="fa-stack fa-2x icon")
        i(class="fas fa-square fa-stack-2x ")
        i(class="fab fa-twitter fa-stack-1x fa-inverse ")
a(href="http://facebook.com")
    span(class="fa-stack fa-2x icon")
        i(class="fas fa-square fa-stack-2x ")
        i(class="fab fa-facebook fa-stack-1x fa-inverse ")
a(href="http://vk.com")
    span(class="fa-stack fa-2x icon")
        i(class="fas fa-square fa-stack-2x")
        i(class="fab fa-vk fa-stack-1x fa-inverse")
a(href="http://instagram.com")
    span(class="fa-stack fa-2x icon")
        i(class="fas fa-square fa-stack-2x")
        i(class="fab fa-instagram fa-stack-1x fa-inverse")