<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title web dev
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(rel="stylesheet", href="../scss/main.scss")
    body
        header.menu-bar
                img(src="../img/logo.png", alt="TOXIN").logo
                nav
                    ul.menu
                        li.menu__item
                            a(href="#") Home
                        li.menu__item
                            a(href="#") About
                        li.menu__item
                            a(href="#") Servicing
                        li.menu__item
                            a(href="#") Portfolio
                        li.menu__item
                            a(href="#") Blog
                        li.menu__item
                            a(href="#") Contact us
                        li.menu__item
                            i(class="fas fa-search")
        header.header
            h1.header__title Web development project
            p.header__text Very suitable to support all web development projects
            button.button.button_empty OUR SERVICES
            button.button.button_full HIRE IS NOW

                                 
                                
                        
