<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title web dev
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(rel="stylesheet", href="../scss/main.scss")
    body
        header.menu-bar
                include ./logo
                nav
                    ul.menu
                        li.menu__item
                            a(href="#") Home
                        li.menu__item
                            a(href="#") About
                        li.menu__item
                            a(href="#") Servicing
                        li.menu__item
                            a(href="#") Portfolio
                        li.menu__item
                            a(href="#") Blog
                        li.menu__item
                            a(href="#") Contact us
                        li.menu__item
                            i(class="fas fa-search")
        header.header
            h1.header__title Web development project
            p.header__text Very suitable to support all web development projects
            .header__button
                button.button OUR SERVICES
                button.button HIRE IS NOW
        section.about-us
            h2.about-us__title About Us
            p.about-us__text.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam                
            div.about-us__design
                div
                    img(src="../favicon/internet.png", alt="icon")
                    h3 Awesome Icons
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor
                div
                    img(src="../favicon/transfer.png", alt="icon")
                    h3 One Page
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor
                div
                    img(src="../favicon/head.png", alt="icon")
                    h3 Fully Responsive
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor
        section.services
            h2.services__title Our Services
            p.services__text.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .services-types
                .sevices-types__type
                    i(class="fas fa-mobile-alt icon")
                    h3 Research
                    P.
                         At vero eos et accusamus et iusto odio 
                        dignissimos ducimus qui blan- ditiis
                        praesentium voluptatum iti atque corrupti quos.
                    button.button READ MORE
                .sevices-types__type
                    i(class="fas fa-mobile-alt icon")
                    h3 Portfolio
                    P.
                        At vero eos et accusamus et iusto odio 
                        dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.
                    button.button READ MORE
                .sevices-types__type
                    i(class="fas fa-mobile-alt icon")
                    h3 Support
                    P.
                        At vero eos et accusamus et iusto odio 
                        dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.
                    button.button READ MORE
                .sevices-types__type
                    i(class="fas fa-mobile-alt icon")
                    h3 Documentation
                    P.
                        At vero eos et accusamus et iusto odio 
                        dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.
                    button.button READ MORE
                .sevices-types__type
                    i(class="fas fa-mobile-alt icon")
                    h3 Development
                    P.
                        At vero eos et accusamus et iusto odio 
                        dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.
                    button.button READ MORE
                .sevices-types__type
                    i(class="fas fa-mobile-alt icon")
                    h3 Design
                    P.
                        At vero eos et accusamus et iusto odio 
                        dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.
                    button.button READ MORE
        section.services.portfolio
            h2.services__title Latest Works
            p.services__text.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .portfolio-buttons
                button.button(val="on" filter="all") ALL
                button.button(val="off" filter="wd") WEB DESIGN
                button.button(val="off" filter="ud") UI/UX DESIGN
                button.button(val="off" filter="moc") MOCKUPS
            .portfolio-items.services-types
                div.portfolio-items__item
                    img(filter="wd" val="off" src="../img/item1.png", alt="image")
                    .text
                        h5 Hand Watch
                        p Web disign
                div.portfolio-items__item
                    img(filter="wd" val="off" src="../img/item2.png", alt="image")
                    .text
                        h5 One day pass
                        p Web disign
                div.portfolio-items__item
                    img(filter="ud" val="off" src="../img/item3.png", alt="image")
                    .text
                        h5 Model T-shirt
                        p UI/UX Design
                div.portfolio-items__item
                    img(filter="ud" val="off" src="../img/item4.png", alt="image")
                    .text
                        h5 Flask
                        p UI/UX Design
                div.portfolio-items__item
                    img(filter="moc" val="off" src="../img/item5.png", alt="image")
                    .text
                        h5 Eplemost
                        p Mockups
                div.portfolio-items__item
                    img(filter="moc" val="off" src="../img/item6.png", alt="image")
                    .text
                        h5 The Kitchens
                        p Mockups
            button.button(val="on" filter="view-all") VIEW ALL
        section.services.price
            h2.services__title Pricing Plan
            p.services__text.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .plans
                .plan
                    .plan__header
                        p Free Trail
                        p.amount.
                            #[sup $] #[span 00] #[sub per month]
                    .plan__body
                        ul
                            li 30 Free Trail                        
                            li 5 Free Projects                        
                            li 30 Free Trail                        
                            li 24/7 Suports
                    .plan__footer
                        button.button Order Now
                .plan
                    .plan__header
                        p Basic
                        p.amount.
                            #[sup $] #[span 50] #[sub per month]
                    .plan__body
                        ul
                            li 30 Free Trail                        
                            li 5 Free Projects                        
                            li 30 Free Trail                        
                            li 24/7 Suports
                    .plan__footer
                        button.button Order Now
                .plan
                    .plan__header
                        p Ultimates
                        p.amount.
                            #[sup $] #[span 99] #[sub per month]
                    .plan__body
                        ul
                            li 30 Free Trail                        
                            li 5 Free Projects                        
                            li 30 Free Trail                        
                            li 24/7 Suports
                    .plan__footer
                        button.button Order Now

        script(src="../js/index.js")



                        
