@import './font.scss';
$semibold: 'Open Sans Semibold';
$regular: 'Open Sans Regular';
body {
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
    font-family: $regular;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
#toTop {
    display: none;
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    background: #3949ab;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    
}
.menu-bar {
    display: flex;
    align-items: center;
    
    color: #212121;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #ffffff;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu__item {
    margin-left: 37px;
}
.menu__item a {
    font-family: $semibold;
    color: #212121;
    font-size: 20px;
    text-decoration: none;
    &:hover {
        color: #868686;
    }
}
/*header*/
.header {
    width: 100%;
    background: url(../img/header.png) no-repeat 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 180px 0;
    background-size: 100%;
    .header__title {
        font-size: 60px;
        margin-bottom: 0; 
    }
    .header__text {
        font-family: 'Open Sans Regular';
        font-size: 22px;
        margin-bottom: 110px;
    }
    .header__button {
        display: flex;
        justify-content: space-around;
    }
}
.button {
    font-family: $semibold;
    font-size: 1rem;
    padding: 10px 25px;
    margin: 0 10px;
    background-color: #00897b;
    border: 2px solid #00897b;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background: transparent;
        border: 2px solid white;
    }        
}  
/*about*/
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 125px 40px;
    color: #212121;
    .about-us__title {
        font-family: 'Open Sans Bold';
        font-size: 30px;
    }
    .about-us__text {
       text-align: center;
       font-size: 15px;
       line-height: 1.467;
       width: 620px;
    }
}
.about-us__design {
    display: flex;  
    padding: 125px 0;
    img {
        width: 62px;
        height: 62px;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 60px;
        h3 {
            font-family: 'Open Sans Semibold';
            font-size: 22px;
            line-height: 1.1;             
        }
        p {
            font-size: 15px;
            font-family: "Open Sans";
            color: rgb(33, 33, 33);
            line-height: 1.467;
            text-align: center;
            width: 254px;
        }
    }
}
/*services*/
.services {
    display: flex;
    background-color: #e4fdf9;
    padding: 100px 0 120px 0;
    flex-direction: column;
    align-items: center;
    font-weight: wrap;
}
.services__title {
    font-size: 30px;
    font-family: "Open Sans Bold";
    color: rgb(33, 33, 33);
    line-height: 0.733;
}
.services__text {
    width: 620px;
    text-align: center;
    font-size: 15px;
    color: rgb(33, 33, 33);
    line-height: 1.467;
    padding-bottom: 110px;
}
.services-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .sevices-types__type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 56px 30px 48px;
        background-color: white;
        margin-right: 30px;
        margin-bottom: 30px;
        color: #212121;
        transition: 0.5s;
        .icon {
            font-size: 62px;
        }
        h3 {
            font-size: 20px;
            font-family: "Open Sans Semibold";
            line-height: 1.1;
            text-align: center;
        }
        p {
            font-family: 'Open Sans Regular';
            font-size: 15px;
            line-height: 1.667;
            text-align: center;
            width: 271px;
        }
        .button {
            color: #212121;
            margin-top: 40px;
            background: transparent;
            border: 2px solid #212121;
            transition: 0.3s;
        }
        &:hover {
            background-color: #00897b;
            color: white;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
            .button {
                color: white;
                border: 2px solid white;
                transition: 0.3s;
            }
        }
    }
}
/*portfolio*/
.portfolio {
    background-color: white;
    .button {
        color: white;
        border: 2px solid #00897b;
        background: #00897b;
        &:hover {
            background: transparent;
            color: #212121;
        }
    }
    .focused {
        background: transparent;
        color: #212121;
    }
    .portfolio-items {
        margin: 115px 0 122px; 
    }
}
.portfolio-items__item {
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    .text {
        display: none;

    }
    &:hover {
        .text {
            display: block;
            position: absolute;
            text-align: center;
            top: 40%;
            left: 40%;
            color: white;
            font-family: $semibold;
            font-size: 20px;
            .p {
                font-size: 15px;
            }
        }
        img {
            filter: brightness(25%);
            transition: 0.3s;
        }
    }
}
/*price*/
.price {
    background-color: #f0f1f1;
}
.plans {
    display: flex;

}
.plan {
    width: 370px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 30px;
    transition: 0.3s;
    .plan__header {
        background: url(../img/price_head_bg.png) no-repeat;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 65px;
        text-align: center;
        font-family: $regular;
        p {
            font-size: 25px;           
            margin-bottom: 30px;;
        } .amount { 
            font-size: 17px;
            span {
                vertical-align: top;
                line-height: 0.9;
                font-size: 50px;
            } sup { 
                font-size: 25px;
                vertical-align: top;
            } sub { 
                font-size: 17px;
                vertical-align: bottom;
             }  
        }
    }
    .plan__body  {        
        color: #212121;
        display: flex;
        justify-content: center;
        font-size: 17px;
        ul { width: 175px; }
        li {
            text-align: center;
            border-block-end: 2px solid #bfbfbf;
            padding: 35px 0 12px;
        }
    }
    .plan__footer {
        display: flex;
        justify-content: center;
        padding: 62px 0;
        .button {
            background-color: transparent;
            color: #212121;
            border: 2px solid #212121;
            font-size: 20px;
            transition: 0.3s;
        }
    }
    &:hover {
        box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
        .button {
            background-color: #00897b;
            color: white;
            border: none;
            text-transform: uppercase;
        }
    }
}
.our-team {background-color: #fff;}
.team {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    text-align: center;

}
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin: auto;
    }
    .team-member__name {
        font-family: $semibold;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .team-member__position {
        font-size: 15px;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    
    .icon {
        color: #f0f1f1;
        margin-right: -5px;
        transition: 0.3s;
        i:nth-child(2) {color: #00897b}
        &:hover {
            color: #3949ab; 
            font-size: 35px; 
            margin-top: -7px;
        i:nth-child(2) {color: white;}
        }
    }
}
.dots-style {
    display: flex;
    justify-content: center;
    margin-top: 115px;
    
    button {
        border: none;
        font-size: 0;
        background: #00897b;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
        &:focus {outline: none;}
    }
}
.dots-style li[class="slick-active"] button {
    background: #3949ab;
 }
 /*blog*/
.blog-item {
     display: flex;
     padding: 0 115px;
     margin-bottom: -4.8px;
     justify-content: center;
    &:nth-child(2n+1) {div:nth-child(1) {margin-right: 25px;}}
    &:nth-child(2n) { 
        flex-direction: row-reverse;
        div:nth-child(2) {
            margin-right: 25px;
        }  
     }
 }
 .blog-content {
     display: flex;
     flex-direction: column;
     width: 568px;
     height: 400px;
     align-items: flex-start;
     .blog-content__header {
         padding: 55px 0 25px;
         
         a {
            font-family: $semibold;
            font-size: 25px;
            color:#212121;
            text-decoration: none;
            &:hover { color: #00897b;}
         }
     }
     .blog-content__data {
         padding-bottom: 25px;
         span {margin-right: 36px;}
         i {margin-right: 12px;}
     }
     .blog-content__text {
         font-size: 15px;
         padding-right: 150px;
     }
 }
 .blog-button {
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
     font-size: 20px;
     color: white;
     width: 220px;
     height: 70px;
     background-color: #00897b;
     border: none;
     margin-top: 126px;
     &:hover {
         background: transparent;
         color: #00897b;
         border: 2px solid #00897b;
     }
 }
 /*footer*/
 .services--footer {
    background: url(../img/footer.png) no-repeat;
    .services__title{color: white;}
    .services__text{color:white;}
    padding: 120px 0 100px;
    background-size:  100% 100%;
 }
 .contacts {
     display: flex;
     width: 100%;
     justify-content: space-around;
 }
 .contact-item {
     color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 252px;
    .contact-item__icon {
        background: #3949ab;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
       i{font-size: 60px;}   
     }
     .contact-item__text {
         text-align: center;
         font-family: $semibold;
         font-size: 20px;
     }
 }
.message {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .user-info-field {
        display: flex;
        justify-content: center;
        
    }

    .user-info-field input {
        width: 500px;
        height: 80px;
        border-radius: 10px;
        border: none;
        &:focus {outline: none;}
        padding: 20px;
        font-family: $semibold;
        font-size: 20px;
    }
    .user-info-field input:nth-child(1) {margin-right: 30px;}
    .message__field {
        margin-top: 30px;
        textarea {
            border-radius: 10px;
            width:1070px;
            height: 320px;
            font-family: $semibold;
            font-size: 20px;
            padding: 20px;
            border: none;
            &:focus {outline: none;}
        }      
    }
 }
.botton-send {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     margin-top: 30px;
     
     input {
         width: 220px;
         height: 70px;
         border-radius: 10px;
         background: white;
         font-family: 'Roboto';
         font-weight: bold;
         font-size: 20px;
         color: #212121;
         border: none;
         transition: 0.3s;
         &:focus {outline: none;}
         &:hover {background-color: grey;}
     }
}
.rights {
    font-family: 'Roboto';
         font-weight: bold;
         font-size: 20px;
         text-align: center;
         padding: 22px 0;
 }
.menu-icon{
    display: none;
    width: 40px;
    height: 40px;
    background: #3949ab;
    color: white;
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
 @media screen and (max-width: 320px) {
     body {max-width: 320px;}
    .header {
        background-size: 100% 100%;
        padding:0;
        padding: 10px 0;
        text-align: center;
        .header__title {
            font-size: 35px;
            white-space: pre-line;
            margin: 0;
        }
        .header__text {
            margin: 20px 0;
            font-size: 15px;
        }
        .header__button {
            .button {
                font-size: 10px;
            }

        }
    }
     nav {display: none;}
    .menu-icon {
        display: block;
    }
 }
