@import './font.scss';

body {
    background-color: grey;
    padding: 0;
    margin: 0;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}


.menu-bar {
    display: flex;
    align-items: center;
    color: #212121;
    justify-content: space-around;
    max-width: 1920px;
    margin: auto;
    padding: 20px 0;
    background-color: #ffffff;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-family: 'Open Sans Semibolt', serif;
    color: #212121;
    font-size: 20px;
    text-decoration: none;
    &:hover {
        color: #868686;
    }
}